---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imagePath: string;
  altText: string;
  name: string;
  version: string;
  modrinthlink: string;
  curseforgelink: string;
}

const { imagePath, altText, name, modrinthlink, curseforgelink, version } =
  Astro.props;
---

<div>
  <div
    class="m-3 flex flex-row items-center bg-white border border-gray-200 rounded-lg shadow max-sm:flex-col hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      class="m-3 object-cover rounded-lg h-40 md:rounded max-sm:w-40 max-sm:h-40"
      src={imagePath}
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {name}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{altText}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        版本 : {version}
      </p>
      <div class="flex flex-auto">
        <a
          class="text-sm text-center focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          href={modrinthlink}
          target="_blank"
          ><span>
            <i class="md-logo w-4 h-4 me-2 ms-1" aria-hidden="true"></i>
          </span> Modrinth 下載</a
        >
        <a
          class="text-sm text-center focus:outline-none text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-600 font-medium rounded-lg px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900"
          href={curseforgelink}
          target="_blank"
        >
          <span
            ><i class="cf-logo w-4 h-4 me-2 ms-1" aria-hidden="true"></i>
          </span> Curseforge 下載</a
        >
      </div>
    </div>
  </div>
</div>
